[Desktop Entry]
Name=Ettercap
Exec=xfce4-terminal -T Ettercap -e "bash -c 'sudo -E ettercap -G; exec bash'"
Icon=ettercap
Type=Application
Terminal=false
